[Unit]
Description=Shopify Price Tracker API
After=network.target

[Service]
Type=simple
User=grimlock
Group=grimlock
WorkingDirectory=/var/www/vhosts/api-shopfiy-price-tracker.truvis.co
ExecStart=/var/www/vhosts/api-shopfiy-price-tracker.truvis.co/bin/api
Restart=on-failure
RestartSec=5
# Load environment variables from the required path
EnvironmentFile=/etc/api-shopfiy-price-tracker.truvis.co/config.ini

# Standard Output and Error redirection to log files
StandardOutput=append:/var/www/vhosts/api-shopfiy-price-tracker.truvis.co/logs/api-out.log
StandardError=append:/var/www/vhosts/api-shopfiy-price-tracker.truvis.co/logs/api-err.log

[Install]
WantedBy=multi-user.target
